ErrorDocument 404 /404.php
php_value session.gc_maxlifetime 1800
php_value max_input_time	 1500
php_value max_execution_time 	 1500
php_value upload_max_filesize    20M
php_value post_max_size		 20M

